doctype html
html
    head
        title= "Perillaroc's Weather app"
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/bootstrap-theme.min.css", rel="stylesheet")
    body
        div.container
            h1 天气预报
            h2 北京
            div.row.weather

        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/index.js")
