doctype html
html
    head
        title= "Perillaroc's Weather app"
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/bootstrap-theme.min.css", rel="stylesheet")
    body
        div.container
            h1 Perillaroc的天气预报
            div.row
                h2 北京天气
            div.row
                p 今天天气
