doctype html
html
    head
        title= "Perillaroc's Weather app"
    body
        div#container
            h1 Perillaroc的天气预报
            div#row
                h2 北京天气
            div#row
                p 今天天气
